<div class="panel--summary">Passionate competitive programmer for over five years.</div>
<br>
<div class="topic-list">
  <div class="topic">
    <div class="topic--title">Awards</div>
    <div class="topic--body">
      <p>USACO Platinum<sup>2017-19</sup></p>
      <p>Codeforces <a rel="noopener noreferrer" target="_blank" href="https://codeforces.com/profile/gamesterrex">Candidate Master</a><sup>2019</sup></p>
      <p>TSA Nationals 3rd place<sup>2018</sup></p>
    </div>
  </div>
  <div class="topic">
    <div class="topic--title">Leadership</div>
    <div class="topic--body">
      <p>Coordinated <a rel="noopener noreferrer" target="_blank" href="https://github.com/chen-robert/contest-judge">infrastructure</a> and problem writing for <a href="https://ipc.ihsclubs.org/">IPC</a>, a local programming contest<sup>2019</sup></p> 
      <p>President of Programming Club, preparing lectures to help educate the next generation of problem solvers<sup>2019</sup></p>
    </div>
  </div>
  <div class="topic">
    <div class="topic--title">Community</div>
    <div class="topic--body">
      <p>Lesson creator for Teamscode, creating <a rel="noopener noreferrer" target="_blank" href="https://teamscode.com/learn/usaco/">detailed writeups</a> for USACO problems<sup>2018-19</sup></p>
      <p>Instructor at Eastside Education for Introduction to Java courses<sup>2018-19</sup></p>
    </div>
  </div>
</div>