<div class="panel--summary">Passionate competitive programmer for over five years.</div>
<br>
<div class="topic-list">
  <div class="topic">
    <div class="topic--title">USACO</div>
    <div class="topic--body">
      <p>USACO Platinum since 2017</p>
      <p>Codeforces <a href="https://codeforces.com/profile/gamesterrex">Candidate Master</a> since 2019</p>
    </div>
  </div>
  <div class="topic">
    <div class="topic--title">Leadership</div>
    <div class="topic--body">
      <p>Coordinated <a href="https://github.com/chen-robert/contest-judge">infrastructure</a> and problem writing for <a href="https://ipc.ihsclubs.org/">IPC</a>, a local programming contest with over 20 teams.</p> 
      <p>President of Programming Club, planning and organizing lectures to help educate the next generation of problem solvers</p>
    </div>
  </div>
</div>