<div class="panel--summary">Avid cybersecurity competitor and researcher.</div>
<br>
<div class="topic-list">
  <div class="topic">
    <div class="topic--title">CTFs</div>
    <div class="topic--body">
      <p>Captain of <a href="https://redpwn.xyz/">redpwn</a>, a nationally ranked top 15 ctf team with 17 members.</p>
      <p>Multiple <a href="https://ctftime.org/team/59759">high place finishes</a> at national competitions, including picoCTF 5th and TJCTF 3rd. 
      <p>Led team to win over $5000 worth of prizes.</p>
    </div>
  </div>
  <div class="topic">
    <div class="topic--title">Leadership</div>
    <div class="topic--body">
      <p>Coordinated infrastructure, problem writing, and deployment of <a href="https://ctftime.org/event/834">RedpwnCTF</a>, an event with over 900 teams and $600 dollars in prizes</p>
      <p>Vice-President of Cybersecurity Club, presenting lectures on common website vulnerabilities</p>
    </div>
  </div>
  <div class="topic">
    <div class="topic--title">Comunity</div>
    <div class="topic--body">
      <p>Responsible disclosure of multiple high level vulnerabilities, including remote code execution on <a href="http://tabroom.com">Tabroom</a>, a management software used for debate tournaments</p>
    </div>
  </div>
</div>