<div class="panel--summary">Competitive public forum first speaker.</div>
<br>
<div class="topic-list">
  <div class="topic">
    <div class="topic--title">Awards</div>
    <div class="topic--body">
      <p>Quarter-finalist at State<sup>2019</sup></p>
      <p>Pufo Silver TOC Bid<sup>2019</sup></p>
    </div>
  </div>
  <div class="topic">
    <div class="topic--title">Leadership</div>
    <div class="topic--body">
      <p>Squad captain for public forum debate team<sup>2019</sup><p>
    </div>
  </div>
</div>