<div class="panel--summary">Other interesting things.</div>
<br>
<div class="topic-list">
  <div class="topic">
    <div class="topic--title">Math</div>
    <div class="topic--body">
      <p>JMO Qualifier<sup>2018-19</sup></p>
      <p>Summer Camp Instructor at Eastside Education<sup>2019</sup></p>
    </div>
  </div>
  <div class="topic">
    <div class="topic--title">Academics</div>
    <div class="topic--body">
      <p>One of less than 200 students who scored a perfect score on the AP Computer Science Exam<sup>2018</sup></p>
      <p>8 AP 5 scores including Physics, US History, Calculus AB/BC, and Computer Science</p>
      <p>First year International Baccalaureate Candidate, completing credits one year early</p>
    </div>
  </div>
  <div class="topic">
    <div class="topic--title">Athletics</div>
    <div class="topic--body">
      <p>Competitive club swimmer for EAST<sup>2012-19</sup></p>
      <p>Varsity swimmer for Interlake Highschool<sup>2018-19</sup></p>
    </div>
  </div>
</div>