<div class="panel--summary">Passionate web developer.</div>
<br>
<div class="topic-list">
  <div class="topic">
    <div class="topic--title">Open Source</div>
    <div class="topic--body">
      <p>
        <a rel="noopener noreferrer" target="_blank" href="https://github.com/LLK/scratch-www/pull/2314">Active</a> 
        <a rel="noopener noreferrer" target="_blank" href="https://github.com/LLK/scratch-www/pull/2161">contributor</a> 
        <a rel="noopener noreferrer" target="_blank" href="https://github.com/LLK/scratch-www/pull/2098">to</a>
        <a rel="noopener noreferrer" target="_blank" href="https://github.com/LLK/scratch-www/pull/2075">projects</a>
        such as the <a rel="noopener noreferrer" target="_blank" href="scratch.mit.edu/">Scratch Website</a>
      </p>
      <p>Contributor for the web adaption of <a href="https://secrethitler.io/">Secret Hitler</a></p>
    </div>
  </div>
  <div class="topic">
    <div class="topic--title">Volunteering</div>
    <div class="topic--body">
      <p>Squad captain for public forum debate team<sup>2019</sup><p>
    </div>
  </div>
</div>