<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Robert Chen</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cutive+Mono|Montserrat&display=swap">
    <link rel="stylesheet" href="/styles/main.css">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Robert Chen - Portfolio">
    <meta property="og:title" content="Robert Chen - Portfolio">
    <meta property="og:description" content="My online portfolio">
    <meta property="og:url" content="https://robertchen.cc/">
    
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; font-src data: fonts.gstatic.com; style-src fonts.googleapis.com 'self'; script-src code.jquery.com 'self'; img-src 'self'">
  </head>
  <body>
    <header class="header animate-listener">
      <div class="title">
        <div class="navbar">
          <a class="navbar--link" href="https://github.com/chen-robert" target="_blank">
            Github
          </a>
          <a class="navbar--link" href="https://blog.robertchen.cc" target="_blank">
            Blog
          </a>
        </div>
        <div class="title--container">
          <h1 class="title--text">
            Robert Chen
          </h1>
          <div class="title--bar"></div>
        </div>
        <div class="title--container">
          <h1 class="title--text title--text__secondary">security research and software development</h1>
          <div class="title--bar title--bar__secondary"></div>
        </div>
        <div class="title--container hide-mobile">
          <h1 class="title--text title--text__secondary">tldr; I code</h1>
          <div class="title--bar title--bar__secondary"></div>
        </div>
        <div class="title--link-container">
          <a class="title--link" href="mailto:me@robertchen.cc">me@robertchen.cc</a>
        </div>
      </div>
      </canvas>
    </header>
    
    <main class="main">
      <div class="main--section">
      </div>
    </main>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="/scripts/main.js"></script>
  </body>
</html>
