<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Robert Chen</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cutive+Mono|Montserrat&display=swap">
    <link rel="stylesheet" href="/styles/main.css">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Robert Chen - Portfolio">
    <meta property="og:title" content="Robert Chen - Portfolio">
    <meta property="og:description" content="My online portfolio">
    <meta property="og:url" content="https://robertchen.cc/">
    
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; font-src data: fonts.gstatic.com; style-src fonts.googleapis.com 'self'; script-src code.jquery.com 'self'; img-src 'self'">
  </head>
  <body>
    <header class="header animate-listener">
      <div class="title">
        <div class="navbar fade-in">
          <a class="navbar--link" href="https://github.com/chen-robert" target="_blank">
            Github
          </a>
          <a class="navbar--link" href="https://blog.robertchen.cc" target="_blank">
            Blog
          </a>
        </div>
        <div class="title--container">
          <h1 class="title--text">
            Robert Chen
          </h1>
          <div class="title--bar"></div>
        </div>
        <div class="title--container">
          <h1 class="title--text title--text__secondary">security research and software development</h1>
          <div class="title--bar title--bar__secondary"></div>
        </div>
        <div class="title--container hide-mobile">
          <h1 class="title--text title--text__secondary">tldr; I code</h1>
          <div class="title--bar title--bar__secondary"></div>
        </div>
        <div class="title--link-container fade-in">
          <a class="title--link" href="mailto:me@robertchen.cc">me@robertchen.cc</a>
          <a class="title--link" href="https://hackerone.com/notdeghost">@notdeghost</a>
        </div>
      </div>
      <div class="pfp fade-in">
        <img src="/imgs/pfp.jpg" />
      </div>
    </header>
    
    <% if(false) { %>
    <main class="main fade-in">
      <div class="main--section">
        <h3 class="section--title">Stuff I Made<div class="title--subscript">contribute to</div></h3>
        <div class="section--items">
          <a href="https://github.com/redpwn/rctf" class="section--item">
            <h4 class="item--title">rCTF</h4>
            <p class="item--text">CTF platform</p>
          </a>
          <a href="https://ctf.redpwn.net/" class="section--item">
            <h4 class="item--title">redpwnCTF</h4>
            <p class="item--text">CTF competition</p>
          </a>
          <a href="https://edumun.com/" class="section--item">
            <h4 class="item--title">EDUMUN</h4>
            <p class="item--text">Model UN</p>
          </a>
        </div>
      </div>
      <div class="main--section">
        <h3 class="section--title">Stuff I Broke<div class="title--subscript">hacked</div></h3>
        <div class="section--items">
          <a href="https://github.com/codespaces" class="section--item">
            <h4 class="item--title">GitHub Codespaces</h4>
            <p class="item--text">XSS</p>
          </a>
          <a href="#todo" class="section--item">
            <h4 class="item--title">ASUS RT-AC68U</h4>
            <p class="item--text">pre-auth RCE</p>
          </a>
          <a href="https://secrethitler.io/" class="section--item">
            <h4 class="item--title">Secret Hitler</h4>
            <p class="item--text">account takeover</p>
          </a>
        </div>
      </div>
    </main>
    <% } %>
  </body>
</html>
