<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Robert Chen</title>
    <link rel="stylesheet" href="/styles/main.css">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <meta name="og:type" content="website">
    <meta name="og:site_name" content="Robert Chen">
    <meta name="og:description" content="A portfolio of sorts">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';">
  </head>
  <body>    
    <style>
      @keyframes fadeout {
        from {}
        to {background-color: transparent;}
      }
      
      @keyframes collapse {
        from {}
        to {height: 0%}
      }
    </style>
    <div style="position: absolute; height: 100vh; width: 100vw; overflow: hidden; display: flex; flex-wrap: wrap;
      background-color: black;
      animation: fadeout 1ms 250ms forwards;
      z-index: 1000;
    ">

    <% for(let i = 0; i < 10; i++) { %>
      <% for(let j = 0; j < 1; j++) { %>
        <div style="
          width: <%= 100 / 1 %>%;
          height: <%= 100 / 10 %>%;
          
          display: flex;
          justify-content: center;
          align-items: center;
        ">
        <div style="
          background-color: black;
          animation: fadeout 500ms <%= 500 + 100 * (i)%>ms forwards;

          height: 100%;
          width: 100%;
          display: inline-block;
          margin: 0;
          padding: 0;
          
          "></div>
        </div>
      <% } %>
    <% } %>
    </div>
    <div class="navbar">
      <a class="navbar--link" href="mailto:robertchen@live.com">
        Email
      </a>
      <a class="navbar--link" href="https://github.com/chen-robert" target="_blank">
        Github
      </a>
      <a class="navbar--link navbar--link__hide-mobile" href="https://redpwn.xyz/" target="_blank">
        Blog
      </a>
    </div>
    <header class="header animate animate-listener">
      <div class="title">
        <div class="title--container">
          <h1 class="title--text">
            Robert Chen
          </h1>
          <div class="title--bar"></div>
        </div>
        <div class="title--container">
          <h1 class="title--text title--text__secondary">Interlake High School</h1>
          <div class="title--bar title--bar__secondary"></div>
        </div>
        <div class="title--container">
          <h1 class="title--text title--text__secondary">Class of 2021</h1>
          <div class="title--bar title--bar__secondary"></div>
        </div>
      </div>
    </header>
    <section class="main">
      <div class="main--divider"></div>
      <article class="section section__top animate-listener">
        <div class="section--panel section--panel__left">
          <div class="section--text">
            <div class="centered">
              <div class="section--title title--container title--text">
                Public Forum
                <div class="title--text__secondary">Debate</div>
              </div>
            </div>
          </div>
        </div>
        <div class="section--panel section--panel__right">
          <div class="section--text">
            <div class="centered">
              <div class="section--title title--container title--text">
                USACO
                <div class="title--text__secondary">Platinum</div>
              </div>
          </div>
        </div>
      </article>
      <article class="section animate-listener">
        <div class="section--panel section--panel__center">
          <div class="section--text">
            <div class="centered">
              <div class="section--title title--text title--text__secondary collapser">
                <div>Ar</div><div class="collapser--collapse">tific</div><div>ia</div><div class="collapser--collapse">l&nbsp;Intelligence</div>
                <div><div class="collapser--popup"><img class="collapser--img" src="imgs/heart.svg"></div></div>
              </div>
              <div class="collapser--overlay"></div>
            </div>
          </div>
        </div>
      </article>
      
    </section>
  </body>
</html>
