<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Robert Chen</title>
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <meta name="og:type" content="website">
    <meta name="og:site_name" content="Robert Chen">
    <meta name="og:description" content="A portfolio of sorts">
  </head>
  <body>
    <div class="navbar">
      <a class="navbar--link" href="mailto:robertchen@live.com">
        Email
      </a>
      <a class="navbar--link" href="https://github.com/chen-robert" target="_blank">
        Github
      </a>
      <a class="navbar--link navbar--link__hide-mobile" href="https://redpwn.xyz/" target="_blank">
        Blog
      </a>
    </div>
    <header class="header animate-listener">
      <div class="title">
        <div class="title--container">
          <h1 class="title--text">
            Robert Chen
          </h1>
          <div class="title--bar"></div>
        </div>
        <div class="title--container">
          <h1 class="title--text title--text__secondary">Interlake High School</h1>
          <div class="title--bar title--bar__secondary"></div>
        </div>
        <div class="title--container">
          <h1 class="title--text title--text__secondary">Class of 2021</h1>
          <div class="title--bar title--bar__secondary"></div>
        </div>
      </div>
    </header>
    <div class="indicator"></div>
    <section class="main">
      <% panels.forEach(panel => { %>
      <div class="main--section">
        <div class="panel">
          <div class="panel--header">
            <%= panel.title %>
          </div>
          <div class="panel--body">
            <%- include(panel.file) %>
          </div>
        </div>
      </div>
      <% }) %>
    </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/scripts/main.js"></script>
  </body>
</html>
