<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Robert Chen</title>
    <link rel="stylesheet" href="/styles/main.css">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <meta name="og:type" content="website">
    <meta name="og:site_name" content="Robert Chen">
    <meta name="og:description" content="A portfolio of sorts">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' localhost:* ws://localhost:*; font-src 'self' data:; script-src 'self'; object-src 'none';">
  </head>
  <body>
    <div class="navbar">
      <a class="navbar--link" href="mailto:robertchen@live.com">
        Email
      </a>
      <a class="navbar--link" href="https://github.com/chen-robert" target="_blank">
        Github
      </a>
      <a class="navbar--link navbar--link__hide-mobile" href="https://redpwn.xyz/" target="_blank">
        Blog
      </a>
    </div>
    <header class="header animate-listener">
      <div class="title">
        <div class="title--container">
          <h1 class="title--text">
            Robert Chen
          </h1>
          <div class="title--bar"></div>
        </div>
        <div class="title--container">
          <h1 class="title--text title--text__secondary">Interlake High School</h1>
          <div class="title--bar title--bar__secondary"></div>
        </div>
        <div class="title--container">
          <h1 class="title--text title--text__secondary">Class of 2021</h1>
          <div class="title--bar title--bar__secondary"></div>
        </div>
      </div>
    </header>
    <% if(informal) { %>
    <section class="main">
      <hr>
      <div class="main--section">
        <div class="section--header">
          > cysec
        </div>
        <div class="section--text">
          cybersecurity is fun. i compete with redpwn for ctfs.
        </div>
      </div>
      <hr>
      <div class="main--section">
        <div class="section--header">
          > swimming
        </div>
        <div class="section--text">
          gott<span class="a">a</span> make su<span class="a">r</span>e <span class="a">i</span>m not too f<a class="a" href="/a">a</a>t.
        </div>
      </div>
      <hr>
      <div class="main--section">
        <div class="section--header">
          > competitive programming
        </div>
        <div class="section--text">
          usaco is a grind and i have no life.
        </div>
      </div>
      <hr>
      <div class="main--section">
        <div class="section--header">
          > math
        </div>
        <div class="section--text">
          jmo? more like gmo!
        </div>
      </div>
    </section>
    <% } %>
  </body>
</html>
