<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("header") %>
    <link rel="stylesheet" href="/styles/github-markdown.css">
    <link rel="stylesheet" href="/styles/blog.css">
    <link rel="stylesheet" href="/highlight.css">
  </head>
  <body>
    <div class="wrapper markdown-body">
      <%- include("sidebar") %>
      <div class="content">
        <h2><%= title %></h2>
        <%- md(content) %>
      </div>
    </div>
  </body>
</head>

