<script src="/scripts/sidebar.js"></script>
<div class="sidebar">
	<div>
		<div class="sidebar--title">rob</div>
		<div class="sidebar--title sidebar--title__second">blog</div>
	</div>
	<div class="sidebar--expander"></div>
	<a class="sidebar--link" href="/">robertchen.cc</a>
	<a class="sidebar--link" href="https://twitter.com/NotDeGhost">twitter</a>
	<div class="sidebar--text">cybersecurity & competitive programming</div>
</div>
<div class="mobile-sidebar-ico">
  <img src="/favicon-32x32.png"/>
</div>
