.collapser {
  position: relative;
  z-index: 9999;
  text-align: center;

  & > div {
    overflow: hidden;
    display: inline-block;
  }
}

.collapser--overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  background-color: black;
  pointer-events: none;
  
  transition: opacity @animation-duration (@quick-animation-duration + @animation-duration);
  opacity: 0;
}

.collapser--popup {
  transform: translateY(1em);
  transition: transform @quick-animation-duration;
}

.collapser--collapse {
  max-width: 100%;
  transition: max-width @animation-duration @quick-animation-duration;
}
.collapser:hover {
  .collapser--collapse {
    max-width: 0%;
  }
  .collapser--popup {
    transform: translateY(0);
    transition: transform @quick-animation-duration @animation-duration;
  }
  ~ .collapser--overlay {
    opacity: 1;
    transition: opacity @animation-duration;
  }
}

