@logo-animation-duration: 500ms;

@import "colors";

#header {
  position: absolute;
  background-color: @theme-black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100vh;
  z-index: 1000;
}

#header-padding {
  width: 100%;
  height: 50px;
}

.logo {
  color: white;
  &:hover .logo__diagonal--left {
    transform: rotate(0deg) translateX(-30px);
  }
  &:hover .logo__diagonal--right {
    transform: rotate(0deg) translateX(30px);
  }
  &:hover .logo-text {
    transform: translateY(-110px);
    opacity: 1;
  }
}
.logo-text {
  transform: translateY(-50px);
  font-size: 2em;
  opacity: 0;
  transition-duration: @logo-animation-duration;
}
.logo__diagonal {
  position: absolute;
  height: 2px;
  width: 100px;
  background-color: white;

  transition-duration: @logo-animation-duration;
}

.logo__diagonal--left{
  transform: rotate(-45deg);
}

.logo__diagonal--right{
  transform: rotate(45deg);
}

.diagonal-container {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
