@import "header";
@import "timeline";
@import "colors";
@import "spacing";
@import "panels";

#content {
  width: 100%;
  background-color: #eee;
}

.row {
  padding: @theme-spacing;
  padding-top: calc(2 * @theme-spacing + @page-offset);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25), 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.col {
  text-align: center;
}

.scrollable {
  min-height: calc(100vh);

  position: absolute;
  top: 0;
  transition-duration: @logo-animation-duration;
  transform: translateY(0);

  &.scrolled {
    transform: translateY(calc(-100vh + @page-offset + @page-height));
  }
}

.heading{
  width: 100%;
  text-align: center;	
  font-size: 2em;
}

html,
body {
  margin: 0;
}

ul{
  list-style: none;
  
  @media @small-devices{
    padding: 0;
  }
  
  & li{
    margin: 10px 0;
  }
}

* {
  box-sizing: border-box;
}

@to: 10;
.loop(@index, @color) when(@index =< @to) {
  .row:nth-child(@{index}) {
    background-color: @color;
  }

  .loop(@index + 1, @color); //darken(@color, 3%));
}

.loop(0, #eee);
