@import "header";
@import "timeline";
@import "colors";
@import "spacing";

#content {
  width: 100%;
  background-color: #eee;
}

.row {
  padding: @theme-spacing;
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100vh;

  box-shadow: 0px 10px 10px #ccc;
}

.col {
  text-align: center;
  padding-top: calc(@theme-spacing + @page-offset);
}

.scrollable {
  height: calc(100vh);

  position: absolute;
  top: 0;
  transition-duration: @logo-animation-duration;
  transform: translateY(0);

  &.scrolled {
    transform: translateY(calc(-100vh + @page-offset + @page-height));
  }
}

html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

@to: 10;
.loop(@index, @color) when(@index =< @to) {
  .row:nth-child(@{index}) {
    background-color: @color;
  }

  .loop(@index + 1, @color); //darken(@color, 3%));
}

.loop(0, #eee);
