@import "config";
@import "header";

@usaco-node-width: 2rem;

.main{
  background-color: #222;
  position: relative;
}

.main--divider{
  position: absolute;
  left: 50%;
  top: -8vh;
  
  height: 16vh;
  width: 3px;
  background-color: @theme-color;
  
  animation: divider @animation-duration;
}

@keyframes divider {
 0% { opacity: 0; height: 0; top: 0;}
 1000%{ opacity: 1; }
}

.usaco-logo--row{
  display: flex;
  justify-content: space-around;
}

.usaco-logo--node{
  width: @usaco-node-width;
  height: @usaco-node-width;
  margin: .5em;
  background-color: white;
  border-radius: 50%;
  
  animation:  usaco-node @animation-duration;
  
  display: inline-block;
}

@keyframes usaco-node {
 0% { width: 0; height: 0; margin: calc(@usaco-node-width /2 + .5em)}
 1000%{ width: @usaco-node-width; height: @usaco-node-width; margin: .5em;}
}

.section{
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
}

.section--title{
  margin-left: 40%;
  color: white;
  font-size: 3rem;
}

.section--panel{
  display: flex;
  padding: 5%;
  width: 50%;
}

.section--panel__left{
  justify-content: flex-end;
}

.section--panel__right{
  justify-content: flex-start;
}

.section--text{
  color: white;
  font-size: 2rem;
}

.section--divider{
  position: absolute;
  
  left: 50%;
  top: calc(50vh - 16vh);
  
  height: 32vh;
  width: 3px;
  background-color: #eee;
}

.centered{
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-style: inherit;
  font-family: Intro,"Helvetica Neue",Helvetica,Arial,sans-serif;
}