.divider{
  border: 1px solid #ccc;
  transition-duration: @slow-animation-duration;
  width: 0%;
  margin: 10px auto;
}

.viewed{
  & .divider{
    width: 50%;
    
    @media @small-devices{
      width: 100%;
    }
  }
}

.center-items{
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel{
  width: 100/4%;
  padding: 0 10px;
  margin: @theme-spacing 0;
  
  @media @medium-devices {
    width: 100/2%;
  }
  @media @small-devices {
    width: 100%;
  }
}

.panel-text{
  text-align: left;
}