.divider {
  border: 1px solid #ccc;
  transition-duration: @slow-animation-duration;
  width: 0%;
  margin: 10px auto;
}

.viewed {
  & .divider {
    width: 50%;

    @media @small-devices {
      width: 100%;
    }
  }
}

.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel {
  width: 100/4%;
  padding: 0 10px;
  margin: @theme-spacing 0;

  @media @medium-devices {
    width: 100/2%;
  }
  @media @small-devices {
    width: 100%;
  }
}

.panel-expandable {
  position: relative;

  & .panel-text {
    white-space: nowrap;
    overflow: hidden;
    & p {
      white-space: initial;
    }
  }
  & .slideable {
    display: inline-block;
    width: 100%;
    margin: 0;
    vertical-align: top;
    transition-duration: @animation-duration;
  }
  .panel-expandable__toggled(){
    background-color: @theme-hover;

    & .slideable {
      transform: translateX(-100%);
    }
  }
  @media @small-devices{
     &.toggled {
       .panel-expandable__toggled();
     }
  }
  &:hover{
    .panel-expandable__toggled();
  }

}

.panel-text {
  text-align: left;
}

.icon-container{
  display: flex;
  justify-content: space-around;
  height: 20px;
}
.small-icon{
  width: 25px;
  font-size: 25px;
  transition-duration: @fast-animation-duration;


  &:not(.disabled){
    cursor: pointer;
    &:hover{
      transform: translate(-5px, -5px);
      font-size: 35px;
    }
  }
  &.disabled{
    color: gray;
  }
}
