@import "config";
@import "header";
@import "navbar";
@import "collapser";

.main {
  display: flex;
  flex-wrap: wrap;
}

.main--section {
  width: 100%;
  padding: 50px 25%;
}

.section--header {
  font-size: 1.5em;
}

.section--text {
  font-size: 1.3em;
  padding: 15px 50px;
}

.a {
  color: #111;
  font-size: 1.05em;
  text-decoration: inherit;
}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
  width: 80%;
  margin: 0 10%;
}

hr:after {
  background: #fff;
  content: '§';
  padding: 0 4px;
  position: relative;
  top: -13px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-style: inherit;
  font-family: Intro, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
