@import "config";
@import "header";
@import "navbar";
@import "collapser";
@import "indicator";
@import "panels";

@mobile: ~"only screen and (max-width: 529px)";

.main {
  display: flex;
  flex-wrap: wrap;

  padding: 50px 0;
  
  background-color: lighten(@theme-color, 15%);
}

.main--section {
  width: 100%;
  padding: 50px 0;
  
  display: flex;
  justify-content: center;
}

.panel {
  background-color: white;
  transition-duration: @animation-duration;
  
  @media @mobile {
    min-width: 100%;
  }
  width: 50%;
  cursor: pointer;
  
  &:hover:not(.clicked){
    transform: translateY(-10px);
    box-shadow: 0 10px 10px -10px;
  }
  
  & .panel--body {
    height: 0;
  }

  &.clicked {
    width: 100%;
    cursor: default;

    transform: translateY(-10px);

    & .panel--body {
      height: 50vh;
      
      @media @mobile {
        height: 200vh;
      }
      
      transition-duration: @animation-duration;
    }
  }
}

.panel--header {
  font-size: 1.5em;
  text-align: center;
  padding: 20px;
}

.panel--body {
  font-size: 1.3em;
  overflow: hidden;
  
  transition-delay: 0;
  transition-duration: @animation-duration;
  padding: 0 20px;
}

.a {
  color: #111;
  font-size: 1.05em;
  text-decoration: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-style: inherit;
  font-family: 'Cutive Mono', monospace;
}
