@import "config";
@import "header";
@import "navbar";
@import "collapser";

.main {
  display: flex;
  flex-wrap: wrap;
  
  background-color: lighten(@theme-color, 15%);
}

.main--section {
  width: 100%;
  padding: 50px 25%;
  
  display: flex;
  justify-content: center;
}

.panel {
  background-color: white;

  transition-delay: 0;
  transition-duration: @animation-duration;
  
  width: 25%;
  cursor: pointer;
  padding: 20px;
  
  &:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 10px -10px;
  }
  
  & .panel--body {
    height: 0;
  }

  &.clicked {
    width: 100%;

    transform: translateY(-10px);
    box-shadow: 0 10px 10px -10px;

    & .panel--body {
      height: 250px;
      transition-duration: @animation-duration;
    }
  }
}

.panel--header {
  font-size: 1.5em;
  text-align: center;
}

.panel--body {
  font-size: 1.3em;
  overflow: hidden;
  
  transition-delay: 0;
  transition-duration: @animation-duration;
}

.a {
  color: #111;
  font-size: 1.05em;
  text-decoration: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-style: inherit;
  font-family: 'Cutive Mono', monospace;
}
