.topic-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.topic {
  width: 100%;
}

.topic--title {
  text-align: center;
}

.topic--body {
  padding: 15px;
  
  & p {
    margin-bottom: 15px;
  }
}

.panel--summary {
  text-align: center;
}
